
body {
    font-family: sans-serif;
    background-color: #000;
    color: #ff0;
    border: solid thin #00c;
    margin: 2em;
}

div.section {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    border: solid thin #00c;
}

div.place {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

h1,h2,h3 {
    font-family: serif;
}

table {
    border: solid thin #00c;
    border-collapse: collapse;
}

td,th {
    border: solid thin #00c;
    padding: 0.5em;
}

table.invis {
    padding: 1em;
    border: none thin #000;
}

.invis {
    border: none thin #000;
}

td.center {
    text-align: center;
}

th.left {
    text-align: left;
}

a:link {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ff0000;
    text-decoration: none;
}

a:active {
    color: #ffff00;
}

a:hover {
    color: #0c0;
}

input, textarea, select {
    color: #ff0;
    font-weight: bold;
    background-color: #000;
    border: solid thin #cc0;
    padding: 0.5em;
}

input:hover, textarea:hover, select:hover {
    border: solid thin #0c0;
}

option {
    background-color: #000;
}
